@tailwind base;
@tailwind components;
@tailwind utilities;

#symptoms {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.tina {
  font-family: "Times New Roman", Times, serif;
  color: #14727a;
}

.tinaslogo {
  height: 4rem;
}

#blurb {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
}

#button {
  border-radius: 90px;
  padding: 0.6em 1.2em;
  margin: 10px 10px 10px 10px;
  min-width: 800px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #562c6f;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: max-content;
}
.specialButton {
  background-color: #870853 !important;
}
.specialButton:hover {
  background-color: #e69e00 !important;
}

#button:hover {
  border-color: #cbede8;
  background: #37236f;
  box-shadow: inset;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 600px) {
  #button {
    border-radius: 90px;
    padding: 0.6em 1.2em;
    margin: 10px 10px 10px 10px;
    min-width: 300px;
    font-size: 2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #562c6f;
    transition: border-color 0.25s;
    font-size: smaller;
  }
}
