@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #14727a;
  text-decoration: inherit;
}
a:hover {
  color: #01a19a; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#button {
  border-radius: 90px;
  border: 1px solid #2d1a55;
  padding: 0.6em 1.2em;
  margin: 10px 10px 10px 10px;
  min-width: 500px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  justify-content: center;
}

#button:hover {
  border-color: #ffd91e;
  filter: drop-shadow(0 0 .3em #000000aa);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
